<mat-dialog-content class="mat-typography">
    <p>playbook-editor works!</p>
    <mat-form-field class="example-full-width">
        <mat-label>Playbook Name:</mat-label>
        <p></p>
        <input #filename matInput value="sample-name">
        <mat-label>.yml</mat-label>
    </mat-form-field>
    <p></p>
    <mat-form-field class="example-full-width">
        <textarea #txt matInput placeholder="Enter playbook body here"></textarea>
    </mat-form-field>
    <p></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onClickUploadRunNewPlaybook(filename, txt)">upload & run</button>
    <button mat-button disabled>cancel</button>
</mat-dialog-actions>
  