$primary-color: #333;


.upload-files{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    border-style: dashed;
    border-color: orangered;
}
.upload-files-button{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    border-style: dashed;
    border-color: grey;
}
.right-tools{
    font-size: small;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    border-style: dashed;
    border-color: green;
    //word-wrap: break-word;
    white-space:pre-wrap;
}
.existing-playbooks{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    border-style: dashed;
    border-color: black;
    overflow-y: scroll;
}
.existing-playbooks-buttons{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    border-style: dashed;
    border-color: orange;
}
.wrap-lines{
    white-space: pre-line;
}
.footer-tools{
    height: 50px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    border-style: dashed;
    border-color: greenyellow;
    height: 100%;
}
.current-hosts-button{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    border-style: dashed;
    border-color: mintcream;
}
.selected-playbook{
    border-width: 3px;
    border-style: dashed;
    border-color: blueviolet;
}

section{
    //background-color: green;
    border-style: dashed;
    border-color: green;
}

body{
    width: 90%;
    height: 90%;
    background-color: palegoldenrod;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 24% 24% 24% 24%;
}
td{
    border-width: 1px;
    border-style: dashed;
    border-color: peru;
}