<body>
        <div class="upload-files">
            <p>new playbooks run section</p>
            <p>Playbook: <input type="file" (change)="onPlaybookFileSelected($event)"></p>
            <p>Hosts: (TODO) <input type="file" (change)="onHostsFileSelected($event)"></p>
        </div>
        <div class="upload-files-button">
            <p>upload-files-button</p>
            <button type="button" (click)="onUploadAndRun()">Upload Playbook & Run</button>
            <button type="button">Upload Playbook only (todo) </button>
            <button type="button" (click)="onUploadHosts()">Upload hosts</button>
        </div>
        <div class="existing-playbooks">
            <p>existing playbooks run section</p>
            <p><button type="button" (click)="onClickDisplayPlaybooks()">List available playbooks</button></p>
            <tr *ngFor="let playbook of playbooks" >
                <td (click)="playbookListClick(playbook.filename)">{{playbook.filename}}</td>
            </tr>
        </div>
        <div class="existing-playbooks-buttons">
            <p>existing-playbooks-buttons</p>
            <div>Selected file: </div>
            <div class="selected-playbook"> {{selectedListPlaybook }}</div>
            <p><button type="button" (click)="onClickDownload()">Download playbook</button></p>
            <button type="button" (click)="onClickRunFromList()">Run playbook</button>
        </div>
        <div class="current-hosts-button">
            <p>current-hosts-button</p>
            <button type="button">Download hosts file</button>
        </div>
        <div class="right-tools">
            <p>status section</p>
            <div>{{playbookStatus}}</div>
        </div>
        <div class="footer-tools">
            <p>footer placeholder</p>
        </div>

</body>