<body>
    <div class="left-section">
        <div class="section-info">
            Actions
        </div>
        <input #playbookInput hidden="true" type="file" onclick="this.value=null" (change)="onPlaybookFileSelected($event)" accept=".yml"/>
        <button mat-raised-button (click)="playbookInput.click()">Upload & run playbook from disk</button>
        <p></p>
        <button mat-raised-button disabled>Validate playbook from disk (TODO)</button>
        <p></p>
        <button mat-raised-button disabled>Upload playbook only (TODO)</button>
        <p></p>
        <input #hostsInput hidden="true" type="file" onclick="this.value=null" (change)="onHostsFileSelected($event)" accept=""/>
        <button mat-raised-button (click)="hostsInput.click()" disabled>Upload Hosts file from disk -> edit</button>

        <p></p>
        <button mat-raised-button (click)="editHostsFile()">Edit hosts file</button>


        <p></p>
        <div (click)="onClickDisplayPlaybooks()">
            <mat-form-field appearance="fill" >
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option *ngFor="let playbook of playbooks_list" [value]="playbook" (click)="playbookListClick(playbook)">
                        {{playbook}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
            <p></p>
            <button *ngIf="isFileSelectedFromList" mat-raised-button (click)="onClickPreview()" color="accent">Preview Playbook</button>
            <p></p>
            <button *ngIf="isFileSelectedFromList" mat-raised-button (click)="onClickRunFromList()" color="primary">Run Selected Playbook</button>
            <button *ngIf="isFileSelectedFromList" mat-raised-button (click)="onClickDownload()" color="primary">Download Selected Playbook</button>



            <p></p>
            <p></p>
            <button mat-raised-button (click)="openDialog()">Create new playbook (legacy)</button>
            <p></p>
            <button mat-raised-button (click)="downloadHostsFile()">Download hosts file (quetes bug)</button>
        </div>
    <div class="middle-section">
        <div class="section-info">
            Preview & edit
        </div>
        <div class = "mid-inside-section">
            <button *ngIf="isInPreviewMode" [disabled]="isInEditMode" mat-raised-button color="accent" (click)="startPlaybookEdit()">edit playbook</button>
            <button *ngIf="isInPreviewMode" [disabled]="!isInEditMode" mat-raised-button color="accent" (click)="saveEditedPlaybook(txt)">save Playbook</button>
            <button *ngIf="isInPreviewMode" disabled mat-raised-button color="accent">abort changes</button>

            <button *ngIf="isInHostsEditMode" [disabled]="isInEditMode" mat-raised-button color="accent" (click)="onClickEditHosts()" >edit hosts</button>
            <button *ngIf="isInHostsEditMode" [disabled]="!isInEditMode" mat-raised-button color="accent" (click)=saveEditedHosts() >save hosts</button>
            <button *ngIf="isInHostsEditMode" disabled mat-raised-button color="accent">abort changes</button>
            


            <div class="playbookEditMode" id="text" #txt contenteditable="true" style="white-space: pre" *ngIf="playbookEditMode == true"
            (input)="playbook_content_temp = $event.target.innerText">>
                {{playbook_content}}
            </div>
            <div id="text" #txt style="white-space: pre" *ngIf="playbookEditMode == false">
                {{playbook_content}}
            </div>
        </div>
      

    </div>
    <div class="right-section">
        <div class="section-info">
            Status
        </div>
        {{playbookStatus}}
        
    </div>
</body>