@import "style-constants";

footer {
  background: $color-primary-darker;

  p#copyright {
    position: absolute;
    color: $color-primary-light;
    font-size: x-small;
    margin: 5px;
    bottom: 0;
    a {
      color: $color-primary-lighter;
    }
  }
}
