<h4>Basic native select</h4>
<input #playbookInput hidden="true" type="file" onclick="this.value=null" (change)="onPlaybookFileSelected($event)" accept=".yml"/>
<button mat-flat-button color="primary" (click)="playbookInput.click()">Choose a Playbook file from disk</button>
<p></p>
<input #hostsInput hidden="true" type="file" onclick="this.value=null" (change)="onHostsFileSelected($event)" accept=""/>
<button mat-flat-button color="primary" (click)="hostsInput.click()">Choose a Hosts file from disk</button>
<p></p>
<button mat-flat-button color="primary" (click)="onUploadAndRun()">Upload playbook & run</button>
<p></p>

<mat-form-field appearance="outline">
    <mat-label></mat-label>
    <textarea matInput disabled>{{playbookStatus}}</textarea>
</mat-form-field>

