@import "style-constants";

:host {
  border-bottom: 1px solid $color-primary-lighter;

  header {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .logo {
      text-transform: uppercase;
      font-weight: bold;
      justify-self: center;
    }

    .right {
      margin-right: 1rem;
    }
  }
}
